plugins/debug-log-manager
plugins/plugin-check
plugins/theme-check
plugins/enable-cors
plugins/index.php
themes/twenty*
themes/index.php
upgrade
upgrade-temp-backup
uploads
/index.php
node_modules
generated

/plugins/sim-league-toolkit/build
/plugins/sim-league-toolkit/src/admin/generated/enums.ts
